[SYNCFREEDOM_CREDENTIALS]
username = your_syncfreedom_username
password = your_syncfreedom_password

[SYNCFREEDOM_TEST_COMPANY]
company_id = 'test_company_realm_id'

[ENVIRONMENT_INFO]
environment=Sandbox
#environment=Production
sync_freedom_url=http://127.0.0.1:8000
#sync_freedom_url=https://syncfreedom.com